.card {
  margin: 20px;
  width: 18rem;
  border: 1px solid black;
  background: #fceabb;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 


}

.card-title {
  margin-bottom: 15px;
  color: black; 
}

.card-title:hover{
  text-decoration: none;
}

.min-max{
  display: flex;
}

.min,.max{
  margin: 20px;
}


#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
  
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
  color: black;
  text-decoration: none;
}

.card:hover{
  transform: translateY(-15px);
}


@media (max-width:400px){
  .min-max{
    display: flex;
  }
  .iconoClima{
    margin-left: 75px;
  }

  .min,.max{
    margin: 5px;
  }
}
