.navbar span{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: bold;
}

.navbar img{
  background: transparent;
  margin-right: 13px;
}

.navbar span:hover{
  color: white;
}

@media (max-width: 400px){
    .navbar span{
      display: none;
    }
}