body{
    background: url('https://pixnio.com/free-images/2017/12/22/2017-12-22-10-56-52.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  } 